.main{
    border: 1px solid black;
    border-radius: 5px solid black;
    height: 220px;
    width: 160px;
}
.top-news{
    border: 1px solid black;
    height: 5px;
    width: inherit;
    
    
}
.news-list{
    overflow: hidden;
}
h5{
    font-size:2px;
}